#logo {
	text-decoration: none;
	color: black;
	text-shadow: 1px 1px 2px #c4c4c4;
}
.searchbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 40px;
  z-index: 1;
}
.searchresults {
  z-index: -1;
}
nav {
  /*Base nav class*/
  width: 100%;
  height: 38px;
  background-color: black;
  overflow-y: hidden;
  position: fixed;
  z-index: 1;
}
nav a {
  display: block;
  float: left;
  /*We're just setting up fonts settings here*/
  font-family: sans-serif;
  font-size: 13.5px;
  color: white;
  /*Padding Our Box*/
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.125s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.125s;
  z-index: 1;
}
nav a:hover {
  /*Changes background color on hover*/
  background-color: #666666; 
}

nav #logo {
  /*Logo extension*/
  /*font*/
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  letter-spacing: -2px;
  /*Optional text shadow for the logo*/
  text-shadow: 1px 1px 2px #c4c4c4;
  /*box*/
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3.5px;
  margin-top: -13.5px;
  color: white;
}
div.wrapper{
	margin: auto;
	width: 60%;
	padding:  10px;
}
div.container {
	position: relative;
}
div.contained {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 40px;
	z-index: -1;
}